#head {
  position: fixed;
  background-color: black;
  color: white;
  letter-spacing: 20px;
  width: 100%;
  top: 0;
  height: 75;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#menu{
  letter-spacing: 3px;
  position: fixed;
  background-color: white;
  color: black;
  top: 100px;
  margin-right: 30%;
  margin-left: 30%;
  width: 40%;
}

#menuback{
  position: fixed;
  background-color: white;
  top: 80px;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main{
  position: fixed;
  color: white;
  border-radius: 25px;
  top: 250px;
  height: 350px;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  background-color: black;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition: transform 1s, background-color 1s;
  transition: transform 1s, background-color 1s;
}

#miningtool{
  position: relative;
  padding: 10px;
  height: auto;
  margin-bottom: 200px;
  text-align: center;
}

input[type="text"],
textarea {
    width:60%;
    padding: 0;
    border: 1px solid #ccc;
}

form{
	float: center;
}

#myself {
 -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 20px;
}

#black{
  background-color: black;
}

#blue{
  background-color: #39528D;
}

#red{
  background-color: #D34747;
}

#green{
  background-color: #84BF40;
}

#cyan{
  background-color: #2D8478;
}

#grey{
  background-color: grey;
}

td, tr{
  text-align: center;
  border-right-style: solid;
  border-left-style: solid;
  border-color: black;
  width: auto;
}

.drops{
  position: fixed;
  top: 180px;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.subdrop{
  position: fixed;
  top: 230px;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

#filler {
  background-color: white;
  height: 200px;
  bottom:0px
}

/*  grayscale */
/*!
 * Start Bootstrap - Grayscale v1.1.1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #7f0000;
  background-color: white;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #7f0000;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #7f0000;
  font-weight: bold;
}
a.navbar, a.btn, a.page-scroll {
  text-decoration: none;
}
.light {
  font-weight: 400;
}

/* Navbar */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}
.navbar-custom .navbar-toggle {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(127, 0, 0, 0.8);
  outline: none;
  background-color: white;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  color: #7F0000;
  background-color: white;
}
.navbar-custom .nav li.active a:hover {
  color: #7F0000;
}
@media (min-width: 768px) {
  .navbar-custom {
    border-bottom: none;
    letter-spacing: 1px;
    background: #7F0000;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #7F0000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.navbar-brand{
    line-height: 0;
}
a.navbar-brand{
    padding-top: 0;
    height: 50px;
}

/* Hero */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../images/intro.jpg) no-repeat top center scroll;
  background-color: #7F0000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.about-intro{
  height: 60%;
  margin-bottom: 20px;
  background-image: url(../images/aboutus.jpg);
  background-position: 60% 60%;
}

.text-background-intro{
  border-radius: 20px;
  padding: 30px 20px 30px 20px;
  background-color: rgba(127, 0, 0, 0.5);
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
  font-family: cursive;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 15px;
  }
  .about-intro{
    height: 60%
  }
  .intro .intro-body .brand-heading {
    font-size: 60px;
  }
  .intro .intro-body .intro-text {
    font-size: 24px;
  }
}


/* Sections */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 150px;
}
.rush-section {
  width: 100%;
  padding: 50px 0;
  color: #7F0000;
  background: url(../images/downloads-bg.jpg) no-repeat center center scroll;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 200px;
  }
  .rush-section {
    padding: 50px 0;
  }
  #map {
    height: 282px;
  }
}
#rush-hr{
  margin-top: 0;
  border-top: 1px solid #7F0000;
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #7F0000;
  color: #7F0000;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #7F0000;
  outline: none;
  color: white;
  background-color: #7F0000;
}

/* Social Media */
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

/* footer */
footer {
  padding: 30px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/* Seperate Pages - About */
#about-page hr{
  border-color: #7F0000;
}

#about-page img{
  border-radius: 15px;
  padding: 5px;
  margin-top: 35px;
}

.our-value img{

}

.our-value ul{
  list-style: lower-greek;
  font-size: 18px;
}

.list-head{
  background-color: rgba(127, 0, 0, 0.8);;
  color: white;
  font-family: cursive;
  font-weight: bold;
  font-variant: small-caps;
}

/* Seperate Pages - Contact*/
label.require-asterisk::after{
    color: #d00;
    content: " *";
}
